# Python virtual environment
venv/

# Python compiled files
__pycache__/
*.pyc

# Application Data & Config
logs/
config.json

# Database
database/*.db

# IDEs / OS files
.vscode/
.DS_Store
.agent/

# Build artifacts
build/
dist/
*.spec
